
.App {
  text-align: center;
  width: 17%;
}
.time{
  font-size: 400%;
  margin-bottom: -2%;
}
.bloc{
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
}
.text1{
  color: #adb2b5;
  margin-top: -1%;
}

